*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p,h2 {
    text-align: center;
}

#container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(160, 143, 175);
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50rem;
    height: 50rem;
    background-color: rgb(130, 64, 184);

}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 5rem;
    background-color: rgb(251, 250, 252);
    color: rgb(130, 64, 184);

}

.players {
    display: flex;
    align-items: center;
    width: 20rem;
    height: 15rem;
    background-color: rgb(160, 143, 175);


}

.pcDiv, .playerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;

}

.pcDiv i, .playerDiv i{
    font-size: 60px !important;
}

.buttons {
    display: flex;
    width: 20rem;
    height: 5rem;

}

.buttons button{
    padding: 1rem;
    width: 10rem;
}

i {
    color: rgb(130, 64, 184);

    font-size: 30px;
    pointer-events: none; 
    height: 30px;
    width: 30px;
    /* avoid to click in the i */
}



